// =====================================================================
// VARIABLES
// =====================================================================

$base-font: 'Open Sans', 'Arial', sans-serif;
$base-spacing: 20px;

$half-spacing: $base-spacing/2;

$base-font-size: 16px;

$wrap-width: 1224px;

$body-bg: #f7f7f7;
$main-header: #363636;

$main-nav: $main-header;
$main-nav-link: #fff;


$body-link: #578200;
$body-text: #444;

$nav-font-size: 14px;