.o-nav {
	font-size: $nav-font-size;
	background-color: $main-nav;

	ul {
		display: flex;
		padding: 0;
		list-style: none;

		.nav__item {
			flex: 1;
		}

		a {
			color: $main-nav-link;
			text-decoration: none;
		}
	}
}