.o-select {

	&:after {
		font-family: FontAwesome;
		content: "\f107";
		position: relative;
		right: 15px;
	}

	select {
		padding-right: 30px;
		background-color: transparent;
		border: 0;
		appearance: none;

		&:focus {
			outline: 0;
		}

		&:disabled {
			opacity: 0.4;
		}
	}
}

